<phpunit bootstrap="./tests/bootstrap.php" forceCoversAnnotation="true" beStrictAboutCoversAnnotation="true" failOnWarning="true" verbose="true">
    <testsuites>
        <testsuite name="unit">
            <directory prefix="tests-" suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./</directory>
            <directory suffix=".php">./includes</directory>
        </whitelist>
    </filter>
</phpunit>
